@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body
{
	margin: 0;
	background-color: #222222;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1rem;
	overflow-x: hidden;
}

#nav
{
	margin: 0;
	background-color: #7A0C17;
	width: 100vw;
	height: 40px;
	list-style-type: none;
	padding: 0;
}

li
{
	display: none;
}

#nav>li:nth-child(1),
#nav>li:nth-child(2)
{
	display: block;
	height: 40px;
	width: 50%;
	max-width: 170px;
	float: left;
}

#nav a
{
	display: inline-block;
	width: 100%;
	padding: calc((40px - 21px)/2) 0;
	text-align: center;
	text-decoration: none;
	background-color: #7A0C17;
	color: white;
}

.bar
{
	width: calc(100% - 10px);
	height: 5px;
	background-color: black;
	margin: 5px;
	border-radius: 5px;
}

#Mmenu
{
	position: fixed;
	top: 40px;
	height: 100vh;
	width: 100vw;
	z-index: 100;
	padding: 0;
	transform: scaleY(0);
	background-color: #7a0c17;
	transition: transform 0.5s 0s ease;
	transform-origin: top;
}

@media screen and (min-width: 450px)
{
	#nav li:nth-child(2)
	{
		max-width: none;
	}

	#nav
	{
		height: 40px;
	}

	#nav li.menuitem
	{
		display: initial;
		min-width: 70px;
		width: calc(100%/5);
		height: 40px;
		float: left;
	}

	#nav a
	{
		display: inline-block;
		width: 100%;
		padding: calc((40px - 18px)/2) 0;
		text-align: center;
		text-decoration: none;
		background-color: #7A0C17;
		color: white;
	}

	#nav li:nth-child(1)
	{
		display: none;
	}

	#Mmenu
	{
		transform: scaleY(0) !important;
	}
}

#nav a:hover
{
	background-color: #B31222;
}

#nav li.first,
#nav a.first
{
	padding: 1px 0px 1px 0px;
	width: 50px;
}

#Mmenu li
{
	display: var(--vis);
	width: 100vw;
	margin: 100px 0;
}

footer
{
	font-size: 1.5em;
	position: fixed;
	bottom: 0px;
	width: 100vw;
	text-align: center;
	height: 1.2em;
	line-height: 1.2em;
	background-color: #333333;
	color: #898989;
}

.email,
.email a
{
	color: #898989;
	font-weight: bold;
}

.bar
{
	transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

.open .bar1
{
	transform: translateY(9.2px) rotate(45deg);
}

.open .bar2
{
	display: none;
}

.open .bar3
{
	transform: rotate(-45deg);
}