#hobbies
{
	display: initial;
	list-style-type: none;
	width: 100%;
}

#hobbies>li
{
	display: list-item;
	padding: 10px;
	margin: 5px;
	border: 2px solid black;
	width: 10rem;
	float: left;
	text-align: center;
	background-color: #444444;
}

#hobbies>li>a
{
	color: white;
	text-decoration: none;
}

@media screen and (max-width: 500px)
{
	#hobbies>li
	{
		width: 100%;
	}
}