body
{
	height: 100vh;
	overflow-y: hidden;
}

main
{
	position: relative;
	height: calc(100vh - 40px);
	color: white;
	font-size: 2.1vh;
}

table
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-collapse: collapse;
}

td
{
	border: #999999 solid 1px;
	padding: 10px;
	text-align: center;
}

.first
{
	border-width: 0px;
}

h1,
p
{
	text-align: center;
	margin: 0;
}

@media screen and (max-width: 530px)
{
	main
	{
		font-size: 3vw;
	}

	table
	{
		top: 30%;
		font-size: 2.05vw;
	}
}